---
import '../styles/global.css';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '../images/logos/rv-icon.png' } = Astro.props;

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/rv-icon.png" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- SEO Meta Tags -->
<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content="investment, wealth management, real estate, technology assets, fixed-rate returns, APY" />
<meta name="author" content="Robert Ventures" />

<!-- Open Graph Meta Tags -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:type" content="website" />
<meta property="og:image" content={image} />

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />


<!-- Font preloads -->
<link rel="preload" href="/fonts/Inter-variable.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/PublicSans-Regular.ttf" as="font" type="font/ttf" crossorigin />
<!-- <link rel="preload" href="/fonts/satoshi-regular.woff2" as="font" type="font/woff2" crossorigin /> -->
<link rel="preload" href="/fonts/Satoshi-Medium.otf" as="font" type="font/otf" crossorigin />
<link rel="preload" href="/fonts/Satoshi-Bold.otf" as="font" type="font/otf" crossorigin />

<script is:inline>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NK8975F');
</script>


<!-- CHATBOT -->
<script>  
  var script = document.createElement('script');
  script.src = "https://widgets.leadconnectorhq.com/loader.js";
  script.setAttribute("data-resources-url", "https://widgets.leadconnectorhq.com/chat-widget/loader.js");
  script.setAttribute("data-widget-id", "672a148805dded393695deca");
  document.head.appendChild(script);
</script>
<!-- CHATBOT -->
