---
import "../styles/global.css";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  image = "../images/logos/rv-icon.png",
} = Astro.props;

import { join } from "node:path";
import { AstroFont } from "astro-font";
---


<!-- Sitemap -->
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/rv-icon.png" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- SEO Meta Tags -->
<title>{title}</title>
<meta name="description" content={description} />
<meta
  name="keywords"
  content="investment, wealth management, real estate, technology assets, fixed-rate returns, APY"
/>
<meta name="author" content="Robert Ventures" />

<!-- Open Graph Meta Tags -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:type" content="website" />
<meta property="og:image" content={image} />

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />

<!-- Font preloads -->
<!-- <link
  rel="preload"
  href="/fonts/Satoshi-Bold.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>

<link
  rel="preload"
  href="/fonts/Inter-Medium.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>

<link
  rel="preload"
  href="/fonts/Inter-Regular.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/> -->

<AstroFont
  config={[
    {
      name: "Satoshi",
      src: [
        {
          style: "bold",
          weight: "700",
          path: join(process.cwd(), "public", "fonts", "Satoshi-Bold.woff2"),
          preload: true
        },
        {
          style: "medium",
          weight: "500",
          path: join(process.cwd(), "public", "fonts", "Satoshi-Medium.woff2"),
          preload: false
        },
      ],
      display: "swap",
      selector: "body",
      fallback: "sans-serif",
    },
    {
      name: "Inter",
      src: [
        {
          style: "medium",
          weight: "500",
          path: join(process.cwd(), "public", "fonts", "Inter-Medium.woff2"),
          preload: true
        },
        {
          style: "regular",
          weight: "400",
          path: join(process.cwd(), "public", "fonts", "Inter-Regular.woff2"),
          preload: true
        },
        {
          style: "italic",
          weight: "400",
          path: join(process.cwd(), "public", "fonts", "Inter-Italic.woff2"),
          preload: false
        },
        {
          style: "semibold",
          weight: "600",
          path: join(process.cwd(), "public", "fonts", "Inter-SemiBold.woff2"),
          preload: false
        },
        {
          style: "black",
          weight: "900",
          path: join(process.cwd(), "public", "fonts", "Inter-Black.woff2"),
          preload: false
        }
      ],
      display: "swap",
      selector: "body",
      fallback: "sans-serif",
    },
  ]}
/>

<link rel="preload" href="/images/svg/waves.svg" as="image" />
<link rel="preload" href="/images/svg/10-rv.svg" as="image" />

<link
  rel="preload"
  href="/images/svg/business-logos/business-insider.svg"
  as="image"
/>
<link
  rel="preload"
  href="/images/svg/business-logos/market-watch.svg"
  as="image"
/>
<link rel="preload" href="/images/svg/business-logos/ap.svg" as="image" />
<link
  rel="preload"
  href="/images/svg/business-logos/street-insider.svg"
  as="image"
/>
<link rel="preload" href="/images/svg/business-logos/benzinga.svg" as="image" />
<link rel="preload" href="/images/svg/business-logos/morning.svg" as="image" />

<!-- GOOGLE TAG MANAGER -->
{Astro.site.hostname === "robertventures.com" && (
  <script src="/scripts/gtm.js" defer></script>
)}
<!-- GOOGLE TAG MANAGER -->

<!-- CHATBOT -->
{
  !["signup", "questions", "booking", "access", "webinar", "webinar-thank-you"].some((path) =>
    new RegExp(`/${path}(/|$)`).test(Astro.url.pathname),
  ) && (
    <script>
      window.addEventListener('load', () => {
        const script = document.createElement('script');
        script.src = '/scripts/chatbot.js';
        script.defer = true;
        document.body.appendChild(script);
      });
    </script>
  )
}
<!-- CHATBOT -->

<!-- EVENTS HANDLER -->
<script src="/scripts/analytics/GA4ClarityTriggers.js" async></script>
<!-- EVENTS HANDLER -->

<!-- EVENTS HANDLER -->
<script src="/scripts/identifyUser.js" async></script>
<!-- EVENTS HANDLER -->
