---
import "../styles/global.css";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  image = "../images/logos/rv-icon.png",
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/rv-icon.png" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- SEO Meta Tags -->
<title>{title}</title>
<meta name="description" content={description} />
<meta
  name="keywords"
  content="investment, wealth management, real estate, technology assets, fixed-rate returns, APY"
/>
<meta name="author" content="Robert Ventures" />

<!-- Open Graph Meta Tags -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:type" content="website" />
<meta property="og:image" content={image} />

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />

<!-- Font preloads -->
<link
rel="preload"
href="/fonts/Satoshi-Bold.woff2"
as="font"
type="font/woff2"
crossorigin="anonymous"
/>

<link
  rel="preload"
  href="/fonts/Inter-Medium.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>

<link
  rel="preload"
  href="/fonts/Inter-Regular.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>


<!-- GOOGLE TAG MANAGER -->
<script src="/scripts/gtm.js" defer></script>
<!-- GOOGLE TAG MANAGER -->

<!-- CHATBOT -->
{!['signup', 'questions', 'booking'].some(path => Astro.url.pathname.includes(path)) && (
  <script src="/scripts/chatbot.js" defer></script>
)}
<!-- CHATBOT -->

<!-- EVENTS HANDLER -->
<script src="/scripts/analytics/GA4ClarityTriggers.js" async></script>
<!-- EVENTS HANDLER -->


<!-- EVENTS HANDLER -->
<script src="/scripts/identifyUser.js" async></script>
<!-- EVENTS HANDLER -->