---
import Image from "astro/components/Image.astro";
import ten from "../images/design-elements/10-rv.svg";
import arrow from "../images/design-elements/Arrow-right.svg";

import business from "../images/business-logos/business-insider.svg";
import weird from "../images/business-logos/weird.svg";
import market from "../images/business-logos/market-watch.svg";
import ap from "../images/business-logos/ap.svg";
import street from "../images/business-logos/street-insider.svg";
import benzinga from "../images/business-logos/benzinga.svg";
---

<style>

    .section-container {
        padding: 3rem 1.5rem 2rem 1.5rem;

        background-image: url(/waves.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        text-align: center;
    }


    h1 {
        font-size: 2.875rem;
        margin-bottom: 2rem;
    }

    .hero-image {
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }

    p.hero-text {
        font-family: "Satoshi", sans-serif;
        font-size: 1.8125rem;

        font-weight: 700;
        line-height: 100%;
        /* 1.8125rem */

        background: linear-gradient(90deg, #5028ff 0%, #ff592c 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        margin-bottom: 3rem;
    }

    form {
        margin-bottom: 1rem;
    }

    .form-block {
        border-radius: 1.5625rem;
        border: 1px solid #afb5bc;
        background: #fff;

        display: flex;
        max-width: 366px;
        height: 3.125rem;
        padding: 1rem 0.5rem 1rem 1.5rem;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;

        margin: 0 auto;
    }

    input {
        border: none;
    }

    button {
        background-color: #5028ff;
        border: 1px solid #5028ff;
        color: #fff;
        border-radius: 2rem;

        padding: 6px;
    }


    .signup-error {
        display: none;
    }

    .account {
        color: #737373;
        font-size: 1rem;
        font-weight: 500;
        line-height: 150%;


        margin-bottom: 2rem;
    }

    .login {
        color: #396afb;
    }

    hr {
        height: 0.0625rem;
        background: #afb5bc;
        margin-bottom: 1rem;
    }

    .business {
        display: grid;
        grid-auto-columns: auto;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    @media only screen and (min-width: 768px) {
        section{
            padding: 0 2rem;
        }
    }

    @media only screen and (min-width: 990px) {
        h1 {
            margin-bottom: 3rem;
        }
        .section-content {
            max-width: 921px;
        }

        .business {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
    }
</style>

<section>
    <div class="section-container">
        <div class="section-content">
            <h1>Compound Your Wealth Passively</h1>

            <Image
                class="hero-image"
                src={ten}
                alt="10% returns"
                width={275}
                height={148}
            />
            <p class="hero-text">Fixed Annual Returns</p>

            <form id="hero-cta-form">
                <div class="form-block">
                    <input
                        type="email"
                        placeholder="Enter your email"
                        required
                        class="email-input"
                    />
                    <button type="submit">
                        <span class="button-text">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="ArrowRight">
                                    <path id="Vector"
                                        d="M14.0306 4.71896L20.7806 11.469C20.8504 11.5386 20.9057 11.6213 20.9434 11.7124C20.9812 11.8034 21.0006 11.901 21.0006 11.9996C21.0006 12.0981 20.9812 12.1957 20.9434 12.2868C20.9057 12.3778 20.8504 12.4606 20.7806 12.5302L14.0306 19.2802C13.8899 19.4209 13.699 19.5 13.5 19.5C13.301 19.5 13.1101 19.4209 12.9694 19.2802C12.8286 19.1395 12.7496 18.9486 12.7496 18.7496C12.7496 18.5506 12.8286 18.3597 12.9694 18.219L18.4397 12.7496L3.75 12.7496C3.55109 12.7496 3.36032 12.6706 3.21967 12.5299C3.07902 12.3893 3 12.1985 3 11.9996C3 11.8007 3.07902 11.6099 3.21967 11.4693C3.36032 11.3286 3.55109 11.2496 3.75 11.2496L18.4397 11.2496L12.9694 5.78021C12.8286 5.63948 12.7496 5.44861 12.7496 5.24958C12.7496 5.05056 12.8286 4.85969 12.9694 4.71896C13.1101 4.57823 13.301 4.49916 13.5 4.49916C13.699 4.49916 13.8899 4.57823 14.0306 4.71896Z"
                                        fill="white" />
                                </g>
                            </svg>
                        </span>
                        <span class="loader" style="display: none;"></span>
                    </button>
                </div>
                <p class="signup-error"></p>
            </form>
            <p class="account">
                Have an account? <a class="login" href="https://invest.robertventures.com/login?f=1">Log in</a>
            </p>

            <hr />

            <div class="business">
                <Image
                    src={business}
                    alt="10% returns"
                    width={144}
                    height={12}
                />

                <Image src={weird} alt="10% returns" width={52} height={47} />

                <Image src={market} alt="10% returns" width={132} height={19} />

                <Image src={ap} alt="10% returns" width={43} height={50} />

                <Image src={street} alt="10% returns" width={150} height={23} />

                <Image
                    src={benzinga}
                    alt="10% returns"
                    width={103}
                    height={14}
                />
            </div>
        </div>
    </div>
</section>

<script is:inline>
    document
        .getElementById("hero-cta-form")
        .addEventListener("submit", async function (event) {
            event.preventDefault();

            const emailInput = document.querySelector(".email-input");
            const email = emailInput.value;
            const buttonText = document.querySelector(".button-text");
            const loader = document.querySelector(".loader");
            const signupError = document.querySelector(".signup-error");

            buttonText.style.display = "none";
            loader.style.display = "inline-block";
            signupError.style.display = "none";

            try {
                const response = await fetch("/api/get-started", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ email }),
                });

                const result = await response.json();

                if (response.ok) {
                    console.log("Signup successful!");
                    window.location.href = "/signup";
                } else {
                    const errorMessage = result.error || "Signup failed";
                    signupError.textContent = errorMessage;
                    signupError.style.display = "block";
                }
            } catch (error) {
                console.error("Error:", error);
                signupError.textContent = "An unexpected error occurred.";
                signupError.style.display = "block";
            } finally {
                buttonText.style.display = "inline-block";
                loader.style.display = "none";
            }
        });
</script>
