---
import Image from "astro/components/Image.astro";
import michael from "../images/billionaires/michael.jpg";
import elon from "../images/billionaires/elon.jpg";
import mark from "../images/billionaires/mark.jpg";
import peter from "../images/billionaires/peter.jpg";
import jack from "../images/billionaires/jack.jpg";


import Strategy from "../images/svg/institutions/strategy.svg";
import Reddit from "../images/svg/institutions/reddit.svg";
import Square from "../images/svg/institutions/square.svg";
import Tesla from "../images/svg/institutions/tesla.svg";
import Coinbase from "../images/svg/institutions/coinbase.svg";
---

<style>
    section {
        text-align: center;
    }

    .intro {
        margin-bottom: 2rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    .intro p {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.6; /* 1.8rem */
    }

    .info p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 160%; /* 1.6rem */

        margin-bottom: 1rem;
    }

    .billionaires {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 0.5rem;
    }

    .billionaires img {
        max-width: 100%;
        height: auto;
    }

    .info {
        margin-bottom: 3rem;
    }

    .institutions p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.6; /* 1.6rem */

        margin-bottom: 1rem;
    }

    .institutions-images{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;

        max-width: 366px;
        margin: 0 auto;
    }

    .institutions-images svg{
        min-width: 97px;
    }

    @media screen and (min-width: 990px) {
        .institutions-images{
            max-width: none;

            justify-content: center;
            gap: 2rem;
        }
    }
</style>

<section>
    <div class="section-container">
        <div class="section-content">
            <div class="intro">
                <h2>Our Digital Asset Strategy</h2>
                <p>
                    Unlike speculative investments, Robert Ventures uses Bitcoin
                    and Ethereum as a store of value and capital appreciation.
                </p>
            </div>

            <div class="info">
                <p>Billionaires that Own Bitcoin</p>
                <div class="billionaires">
                    <Image
                        src={michael}
                        alt="Michael Sailor"
                        width={220}
                        height={320}
                    />
                    <Image
                        src={elon}
                        alt="Elon Musk"
                        width={220}
                        height={320}
                    />
                    <Image
                        src={mark}
                        alt="Mark Cuban"
                        width={220}
                        height={320}
                    />
                    <Image
                        src={peter}
                        alt="Peter Thiel"
                        width={220}
                        height={320}
                    />
                    <Image
                        src={jack}
                        alt="Jack Dorsey"
                        width={220}
                        height={320}
                    />
                </div>
            </div>

            <div class="institutions">
                <p>Institutions that Hold Bitcoin on Balance Sheet</p>
                <div class="institutions-images">
                    <Strategy />
                    <Reddit />
                    <Square />
                    <Tesla />
                    <Coinbase />
                </div>
            </div>
        </div>
    </div>
</section>

<script is:inline></script>
